* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

h1 {
    color: #e6d4e3;
    font-family: cursive;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    
    background-image: radial-gradient(circle farthest-side ,#cb2d3e,#ef473a);
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}



#display {
    margin: 0 10px;
    height: 50px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 50px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}
  /* dark theme */

  .calculator.dark {
    background-color:#FFFF00;
}

  .calculator.dark #display {
    color: #000;
}
  .calculator.dark button#clear {
    background-color: #FFA500;
    color: #ffffff;
  }

  .calculator.dark button.btn-number {
    background-color: #FFA500;
    color: #ffffff;
}

  .calculator.dark button.btn-operator {
    background-color: #FFA500;
    color: #ffffff;
}
  
  .calculator.dark button.btn-equal {
    background-color: #FFA500;
    color: #ffffff;
}